* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #FFF;
}

.body__container {
  background-image: url(../images/background-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
  height: 100vh;
}

.header__container{
  padding: 0 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  background: rgba(0, 0, 0, 0.40);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__left{
  margin: 0;
}

.header__title{
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}

.header__title:hover{
  transition: all 0.3s ease;
  color: #3CB878;
}

.header__right{
  display: flex;
  align-items: center;
}

.header__link{
  margin: 0;
  padding: 0;
  height: 24px;
}

.header__img{
  margin-right: 25px;
}

.header__img:hover{
  transition: all 0.3s ease;
  filter: invert(59%) sepia(78%) saturate(373%) hue-rotate(96deg) brightness(90%) contrast(80%);
}

.header__text{
  font-size: 14px;
  font-weight: 400;
  padding-left: 27px;
  border-left: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  color: #FFF;
}

.header__text-hover{
  text-decoration: none;
  color: #FFF;
}

.header__text-hover:hover{
  transition: all 0.3s ease;
  color: #3CB878;
}

.main__container{
  display: flex;
  justify-content: center;
  padding: 54px 0 74px;
}

.form__container{
  width: 444px;
  padding: 31px 60px 38px;
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}

.form__header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.form__header-square{
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #3CB878;
  left: -60px;
}

.form__header-left{
  color: #434343;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.form__header-right{
  color: #3CB878;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.form__header-right:hover{
  color: #01813F;
  text-decoration: underline ;
  transition: all 0.3s ease;
}

.form__social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 31px;
}

.form__social-facebook{
  display: flex;
  padding: 0;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 48px;
  background-color: #305DB8;
  text-decoration: none;
}

.form__social-facebook:hover{
  transition: all 0.3s ease;
  background-color: #022263;
}

.form__social-imgF{
  margin: 12px 13px 12px 11px;
}

.form__social-textF{
  margin: auto 22px auto 0;
  padding-left: 18px;
  display: flex;
  align-items: center;
  height: 28px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  border-left: 1px solid;
  border-color: rgba(10,22,47,0.2);
}

.form__social-google{
  display: flex;
  padding: 0;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 48px;
  background-color: #DF4A32;
  text-decoration: none;
}

.form__social-google:hover{
  transition: all 0.3s ease;
  background-color: #AB1F09;
}

.form__social-imgG{
  margin: 15px 7px 14px 12px;
}

.form__social-textG{
  margin: auto 27px auto 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  height: 28px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  border-left: 1px solid;
  border-color: rgba(43,13,9,0.1);
}

.form__or{
  display: flex;
  justify-content: center;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
}

.form__input{
  overflow: hidden;
  width: 100%;
  outline: 0;
}

.form__input input{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0;
  margin-bottom: 16px;
  width: 100%;
  height: 44px;
  padding: 15px 20px;
}

.form__input input:last-child{
  margin-bottom: 12px;
}

::placeholder{
  color: #BEBEBE;
  font-size: 14px;
  font-weight: 400;
}

.form__input input:focus{
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
}

.form__agree{
  display: flex;
  align-items: center;
}

.form__agree-cbx {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
 }
 
 .form__agree-cbx:after {
  content: '';
  position: absolute;
  left: 4px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #3CB878;
  border-bottom: 2px solid #3CB878;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
 }
  
 #form__agree-cbx:checked ~ .form__agree-cbx {
  border-color: transparent;
  animation: jelly 0.6s ease;
 }
 
 #form__agree-cbx:checked ~ .form__agree-cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
 }
 
 @keyframes jelly {
  from {
   transform: scale(1, 1);
  }
 
  30% {
   transform: scale(1.25, 0.75);
  }
 
  40% {
   transform: scale(0.75, 1.25);
  }
 
  50% {
   transform: scale(1.15, 0.85);
  }
 
  65% {
   transform: scale(0.95, 1.05);
  }
 
  75% {
   transform: scale(1.05, 0.95);
  }
 
  to {
   transform: scale(1, 1);
  }
 }
 
 .hide {
  display: none;
 } 
 
.form__agree-text{
  color: #434343;
  font-size: 14px;
  font-weight: 400;
  padding-left: 8px;
  margin: 0;
}

.change__color{
  color: #3CB878;
  text-decoration: none;
}

.change__color:hover{
  color: #01813F;
  text-decoration: underline;
}

.form__submit{
  margin-top: 20px;
}

.form__submit-btn{
  width: 324px;
  height: 46px;
  border: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  background-color: rgba(60, 184, 120, 0.80);
}

.form__submit-btn:hover{
  transition: all 0.3s ease;
  background-color: #01813F;
}